//Colors
$primary-color: #000000;
$secondary-color: #ffffff;
$tertiary-color: #edf1fa;
$shadow-color: rgba(0, 0, 0, 0.05);
$grey-color: #cccccc;
$text-danger: #f2371e;

//Devices
$desktop: 1200px;
$tablet: 960px;
$mobile: 540px;

//IconSizes

$big-icon: 50px;
$medium-icon: 25px;
$small-icon: 18px;
