//Colors
$primary-color: #2738f5;
$secondary-color: #fafafa;
$tertiary-color: #edf1fa;
$black-color: #000000;
$shadow-color: rgba(0, 0, 0, 0.05);

//Devices
$desktop: 1200px;
$tablet: 900px;
$mobile: 540px;

//IconSizes

$big-icon: 50px;
$medium-icon: 25px;
$small-icon: 18px;
