.auth--modal--main--container {
  width: 100%;
  .auth--modal--forms--container {
    width: 100%;
    overflow-x: hidden;
    position: relative;
    .auth--modal--login--container {
      width: 100%;
      position: absolute;
      display: flex;
      flex-direction: column;
      transition: all 0.3s;
      gap: 20px;
      margin-right: 80px;
      .auth--modal--login--options {
        text-align: center;
        span {
          &:nth-child(1),
          &:nth-child(5) {
            text-decoration: underline;
          }
          font-size: 14px;
          cursor: pointer;
          color: grey;
        }
      }
    }
    .auth--modal--register--container {
      width: 100%;
      transform: translateX(100%);
      margin-left: 80px;
      transition: all 0.3s;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .auth--modal--register--options {
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;
        font-size: 14px;
        color: grey;
        text-decoration: underline;
      }
      &.visible {
        transform: translateX(calc(0% - 80px));
      }
    }
    &:has(.auth--modal--register--container.visible) {
      .auth--modal--login--container {
        transform: translateX(-100%);
      }
    }
  }
}
