@use "../../theme.scss" as *;

.modal--main--container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  .modal--main--body--container {
    z-index: 1001;
    width: 95%;
    border-radius: 5px;
    overflow-y: scroll;
    scrollbar-width: none; /* Para Firefox */
    -ms-overflow-style: none; /* Para Internet Explorer y Edge */
    padding: 30px 40px;
    background-color: white;
    .modal--main--header--container {
      display: flex;
      justify-content: space-between;
      svg {
        font-size: $medium-icon;
        cursor: pointer;
      }
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@media (max-width: $mobile) {
  .modal--main--container {
    .modal--main--body--container {
      width: 100%;
      padding: 15px;
      border-radius: 0;
    }
  }
}
