@use "../../theme.scss" as *;

.navbar_main_container {
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 20px;
  position: relative;
  height: 80px;

  .navbar_logo_container {
    width: 200px;
    display: flex;
    align-items: center;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .navbar_call_to_actions_container {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  &.sticky {
    position: fixed;
    z-index: 10;
    animation: appeareance 0.3s linear;
    left: 0;
    right: 0;
    & ~ .main_content_container {
      border-top: 80px solid $primary-color;
    }
  }
}
@keyframes appeareance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
