@use "../../theme" as *;

.category--list--main--container {
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  position: relative;
  .btn--carrousel {
    position: absolute;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    align-self: center;
    border-radius: 100%;
    width: 50px;
    aspect-ratio: 1/1;
    background-color: rgb(248, 248, 248);
    opacity: 0.5;

    cursor: pointer;
    z-index: 2;
    svg {
      font-size: $medium-icon;
    }
    &:hover {
      opacity: 1 !important ;
    }
    &--next--btn {
      right: 50px;
    }
    &--prev--btn {
      left: 50px;
    }
  }
  .category--list--container {
    display: inline-flex;
    padding: 40px;
    background-color: white;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    .category--list--container--carrousel {
      display: flex;
      gap: 10px;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@media (max-width: $tablet) {
  .category--list--main--container {
    width: 100%;
    .btn--carrousel {
      &--next--btn {
        right: 10px;
      }
      &--prev--btn {
        left: 10px;
      }
    }
    .category--list--container {
      width: 100%;
      padding: 40px 10px;
    }
  }
}
